*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1{
  margin-bottom: 25px;
}
p{
  margin-top: 20px;
}

.form-conatiner {
  width: 100%;
  height: 100vh;
  background-color: aquamarine;
  text-align: center;
  padding-top: 100px;
}

input {
  width: 30%;
  padding: 7px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.signupbtn {
  color: white;
  width: 25%;
  margin-top: 5px;
  padding: 7px;
  border: none;
  border-radius: 5px;
  background-color: rgb(6, 102, 46);
}