.view-container{
    display: flex;
    gap: 5px;
    align-items: center;
}

.view-card{
    background-color: cornflowerblue;
    padding: 10px;
    width: 20%;
    border-radius: 10px;
    margin: 10px;
}

h3{
    text-align: center;
    margin: 5px;
}